<nav class="bg-dark border border-dark">
  <div class="row bg-dark pt-2 pb-2">
    <div class="col-md-3 d-flex justify-content-start align-items-center">
      <h3 class="text-white ml-2">Dark Navbar</h3>
    </div>
    <div class="col-md-6">
      <ul class="list-inline d-flex justify-content-around align-items-center">
        <li class="text-white">Home</li>
        <li class="text-white">Faq</li>
        <li class="text-white">About Us</li>
        <li class="text-white">Contact Us</li>
      </ul>
    </div>
    <div class="col-md-3">
      <p class="text-white">Login</p>
    </div>
  </div>
</nav>
