<div class="auth-page">
    <div class="conatiner page">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <h1 class="text-xs-center">Sign Up</h1>
            <p class="text-xs-center">
                <a [routerLink]="['/login']">Have an account?</a>
            </p>
        <demo-backend-error-messages
         *ngIf="backendErrors$ |  async"
         [backendErrors]="backendErrors$ | async"
        >
           
        </demo-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset class="form-group mt-3 mb-3">
                <label>Username</label>
                <input formControlName="username" type="text" class="form-control form-control-lg" placeholder="Username" />
            </fieldset>
            <fieldset class="form-group mt-3 mb-3">
                <label>Email</label>

                <input formControlName="email" type="email" class="form-control form-control-lg" placeholder="Password" />
            </fieldset>
            <fieldset class="form-group mt-3 mb-3">
                <label>Password</label>

                <input formControlName="password" type="password" class="form-control form-control-lg" placeholder="Password" />
            </fieldset>
            <fieldset class="form-group mt-3 mb-3">
                <label>Mobile</label>
                <input formControlName="mobile" type="number" class="form-control form-control-lg" placeholder="Mobile" />
            </fieldset>
            <button [disabled]="isSubmitting$ | async " class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign Up </button>
        </form>
        </div>
    </div>
</div>