<h3>Example 1: Using Enviroment File</h3>
<h4>Best Use Case : Applying Themes</h4>
<h5>We have One Components adn Two Templates</h5>

<ul class="list-inline list-group mt-2 mb-2">
  <li class="list-group-item">1- NavbarEnvironmentComponent</li>
</ul>
<demo-navbar-environment></demo-navbar-environment>

<br />
<br />
<br />
<br />

<h3>Example 2: OOP</h3>
<h4>Best Use Case :</h4>
<h5>We have One Components adn Two Templates</h5>

<ul class="list-inline list-group mt-2 mb-2">
  <li class="list-group-item">1- AdminNavabrOopComponent</li>
  <li class="list-group-item">2- ClientNavbarOopComponent</li>
  <li class="list-group-item">3- NavbarOopComponent</li>
</ul>
<demo-client-navbar-oop></demo-client-navbar-oop>
<br />
<br />
<demo-admin-navbar-oop></demo-admin-navbar-oop>

<br />
<br />
<br />
<br />

<h3>Example 3: Using NgSwitch</h3>
<h4>We have Three Components and Three Templates</h4>
<ul class="list-inline list-group mt-2 mb-2">
  <li class="list-group-item">1- AdminNavbarCompoenent</li>
  <li class="list-group-item">2- ClientNavbarCompoenent</li>
  <li class="list-group-item">3- NavbarSwitchComponent</li>
</ul>
<demo-switch-navbar [inputProps]="inputProps"></demo-switch-navbar>

<router-outlet></router-outlet>
